<ul>
  <li class="service">
    <div class="logo"><%= image_tag("freshbooks.png") %></div>
    <p><%= current_user.freshbooks_account %></p>
  </li>
  <li class="arrow">
    <%= image_tag("arrow.png") %>
  </li>
  <li class="service">
    <div class="logo"><%= image_tag("dropbox.png", :style => "margin-top: 8px;") %></div>
    <p>Dropbox name</p>
  </li>
</ul>


<div id="running" class="status">
  <p>status</p>
  <p class="large">Running</p>
</div>

<div id="finished" class="status">
  <p>synchronized</p>
  <p class="large time_ago"></p>
  <p>Saved <span class="how_many">0</span> Invoices</p>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    Dashboard.check(<%= current_user.id %>);
  });
</script>