<!DOCTYPE html>
<html>
<head>
  <title>Dropbooks</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="header">
    <p><span class="title">Dropbooks</span> = freshbooks + dropbox</p>
  </div>

  <div class="content">
    <%= yield %>
  </div>
  <div class="footer">
    built by
    <%= link_to "Eoin", "http://twitter.com/eoinh" %>
    &amp;
    <%= link_to "Kalv", "http://twitter.com/kalv" %>
    for
    <%= link_to "HackVan2012", "http://hackdays.ca/" %>
  </div>
</div>

</body>
</html>
